<form action="#" >
  <div class="form-group search-box">
    <input type="text" placeholder="Search..." name="search" class="form-control search_tweet">
      <button type="submit" class="submit_btn">
        <svg viewBox="0 0 24 24" class="search-icon">
          <g>
            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
            ></path>
          </g>
        </svg>
      </button>
  </div>
</form>

<div class="trends">
  <h3 class="primary__title border-bottom">What's happening</h3>
  <div class="trends__item mt-3 border-bottom">
    <p class="trends__item--title">Covid-19 . Live</p>
    <p class="trends__item--hashtag"><strong>COVID-19 in India</strong></p>
    <p class="trends__item--tweets">5,943 Tweeets</p>
  </div>

  <div class="trends__item mt-3 border-bottom">
    <p class="trends__item--title">Music . Trending</p>
    <p class="trends__item--hashtag"><strong>#MainTumhara</strong></p>
    <p class="trends__item--tweets">7.3K Tweeets</p>
  </div>

  <div class="trends__item mt-3 border-bottom">
    <p class="trends__item--title">Politics . Trending</p>
    <p class="trends__item--hashtag"><strong>#PostponeJEEAndNEET</strong></p>
    <p class="trends__item--tweets">54.1K Tweeets</p>
  </div>

  <a href="#" class="mt-3">Show more</a>
</div>

<div class="trends mt-3">
  <h5 class="primary__title border-bottom">Who to Follow</h5>
  <div class="row border-bottom md-2">
    <div class="col-2">
      <img src="" alt="dp">
    </div>
    <div class="col-7">
      Deepesh Kumar
    </div>
    <div class="col-3">
      <button class="btn btn-primary trends__btn">Follow</button>
    </div>
  </div>
  <div class="row border-bottom md-2 mt-2">
    <div class="col-2">
      <img src="" alt="dp">
    </div>
    <div class="col-7">
      Deepesh Kumar
    </div>
    <div class="col-3">
      <button class="btn btn-primary trends__btn">Follow</button>
    </div>
  </div>
  <div class="row border-bottom md-2 mt-2">
    <div class="col-2">
      <img src="" alt="dp">
    </div>
    <div class="col-7">
      Deepesh Kumar
    </div>
    <div class="col-3">
      <button class="btn btn-primary trends__btn">Follow</button>
    </div>
  </div>

  <a href="#" class="mt-2">Show more</a>
</div>