<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-3 bg-muted">
      <div class="left-side">
        <%= render 'nav_bar' %> 
      </div>
    </div>
    <div class="col-md-6 border-left border-right">
      <%= render 'tweet_sec' %>
      <div class="small bg-secondary"></div>
      <div class=" container mt-2">
        <%= render 'tweet' %>
      </div>
    </div>
    <div class="col-md-3">
      <aside class="right">
        <%= render 'right' %>
      </aside>   
    </div>
  </div>
</div>